body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    height: 175px;
    width: 150px;
    border-radius: 20px;
    margin-top: 10px;
}

.text{
    margin: 20px auto;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #023047;
    border-bottom: 8px solid #FFB703;
    border-radius: 20px
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

.hover {
  color: #0000;
  background: 
    linear-gradient(90deg,#1095c1 50%,#000 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  transition: .4s;
}
.hover:hover {
  --_p: 0%;
}

h3 {
  font-family: system-ui, sans-serif;
  font-size: 3rem;
  margin:0;
  cursor: pointer;
  padding: 0 .1em;
}